/* imports */
@font-face {
  font-family: Gotham;
  src: url("/assets/fonts/Gotham\ Book.otf");
}
@font-face {
  font-family: GothamLight;
  src: url("/assets/fonts/Gotham\ Light.otf");
}
@font-face {
  font-family: GothamBold;
  src: url("/assets/fonts/Gotham\ Medium.otf");
}
@font-face {
  font-family: GothamThin;
  src: url("/assets/fonts/Gotham\ Thin.otf");
}
@font-face {
  font-family: GothamMedium;
  src: url("/assets/fonts/Gotham\ Medium.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GothamBold;
  font-weight: 100;
}

html,
body {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 56px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0 32px;
  z-index: 10;
}

a {
  color: #fff;
}

nav svg {
  width: 152px;
  padding: 0 16px;
}

nav ul {
  display: flex;
}
.middle-nav {
  padding: 9px;
  margin-left: 90px;
}

nav ul li {
  list-style-type: none;
  padding: 4px 16px;
  font-size: 14.9px;
  line-height: 10px;

  color: #fff;
}


nav ul li a {
  text-decoration: none;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

nav ul li:hover {

  background-color: #555e68;
}

section.section-one {
  color: #fff;
  width: 100%;
  height: 100vh;
  background: url("/assets/images/Model-3-Main-page.jpeg") no-repeat center
    center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-two {
  color: #000;

  width: 100%;
  height: 100vh;
  font-family: GothamThin;
  z-index: 20;
  position: relative;
  display: flex;
  /* justify-content: end; */
}
.section-two .image-content{
    background: url("/assets/images/model-3-page-2.jpeg") no-repeat center
    center/cover;
    width: 72.5%;
    height: 100%;
}

section.section-one h1 {
  margin-top: 115px;
  opacity: 0.98;
  width: 100%;
  padding: 0 24px;
  text-align: center;
  font-size: 41px;
}

section.section-one p {
  padding: 6px 24px 14px;
  width: 744px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.section-one p a {
  font-size: 14.8px;
  font-family: Gotham;
  font-weight: 100;
  opacity: 0.9;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}
section.section-one p a:hover {
  line-height: 20px;
  border-bottom: 2px solid #fff;
  padding-top: 2px;
}

.sticky-message {
  cursor: pointer;
  height: 56.8px;
  width: 57px;
  border-radius: 60%;
  position: fixed;
  right: 29.3px;
  bottom: 78.5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1.5px 0.7px 0 #c1c0c0, 0 1.5px 0.7px 0 #d3d3d3;
  z-index: 100;
}

.sticky-message svg {
  width: 30px;
  height: 30px;
}

section .bottom-section-one-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding-left: 20px;
}
section .bottom-section-one-container .info-buy-container {
  width: 764px;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  font-family: Gotham;
  line-height: 28px;
}

.tcl-badge-speedometer__dial {
  height: 21px;
  width: 40px;
  position: relative;
}

.tcl-badge-speedometer__inner-circle-wrapper {
  position: absolute;
  left: 5px;
  bottom: 0;
  width: 30px;
  height: 19px;
  color: #eeeeee;
}

.tcl-badge-speedometer__inner-circle {
  opacity: 0.2;
  transform: translateZ(0) rotate(0);
  transform-origin: center bottom;
  transition-delay: 0.2s;
}

.tcl-badge-speedometer__needle {
  position: absolute;
  bottom: 0;
  left: 18px;
  width: 4px;
  transform: translateZ(0) rotate(90deg);
  transform-origin: center bottom;
  transition: transform 1.733s cubic-bezier(0.77, 0, 0.175, 1) 0.2s,
    -webkit-transform 1.733s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.speedometer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.speedometer-wrapper span {
  font-size: 28px;
}

.description-text {
  font-size: 12px;
  letter-spacing: 1px;
  font-family: GothamThin;
  font-weight: 900;
}
.mph-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1px;
}

.range-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.range-wrapper span.range-number {
  font-size: 30px;
}

.motor-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.AWD {
  font-size: 32px;
}

.buy-now-button {
  width: 201px;
  border: 3px #fff solid;
  border-radius: 5px;
  text-align: center;
  padding: 0 24px;
  padding-top: 3px;
  height: 40px;
  margin-right: 8px;
  text-decoration: none;
}

.buy-now-button:hover {
  background-color: #fff;
  color: #000;
}

.down-button-container {
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.down-button-container a {
  background: transparent;
  border: none;
  position: relative;
  animation-name: upDown;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes upDown {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 3px;
  }
  50% {
    bottom: 2px;
  }
  75% {
    bottom: 6px;
  }
  100% {
    bottom: 1px;
  }
}

.down-button-container a img {
  width: 27px;
  filter: brightness(10);
}
.section-two .side-container {
    height: 100%;
    width: 27.5%;
    display: flex;
    padding: 48px 52px;
    flex-direction: column;
}
.section-two .side-container span , p{
    font-family: Gotham;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #393C41;
}

.section-two .side-container .side-container-title{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}
.section-two .side-container .side-container-sub-title{
    font-weight:900;
    font-family: Gotham;
    font-size: 30px;
    margin-bottom: 30px;
    color: #000;
}

.section-two .side-container .side-container-link{
    color: #393C41;
    font-family: Gotham;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: #393C41 solid 1px;
    border-spacing: 1px;
}

.section-two .side-container .explanations {
  font-family: Gotham;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #393C41;
}
.section-two .side-container div p.paragraph-title {
  font-family: Gotham;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  color: #000;
  line-height: 0; 
  margin-top: 3px;
}

.page-two-side-buttons-container{
  height: 100%;
  color: #393C41;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  
  width: 100%;
}
.page-two-side-buttons-container a{
  color: #393C41;
}
.page-two-side-buttons-container .buy-now-wrapper a{
  color: #000;
}

.page-two-side-buttons-container .buy-now-wrapper{
  position: relative;

}

.page-two-side-buttons-container .buy-now-page-two-button {
  width: 200px;
  color: #171A20;
  border: 3px #171A20 solid;
  font-family: Gotham;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  padding: 8px 24px;
  height: 40px;
  margin-right: 8px;
  text-decoration: none;
  position:absolute;
  right: -41px;
  bottom:0;
}

.page-two-side-buttons-container .buy-now-page-two-button:hover {
  background-color: #171A20;
  color: #fff;
}
.learn-more-wrapper{
  width: 290px;
  display: flex;
}

.page-two-side-buttons-container .learn-more-wrapper .plus-round-button {
  color: #000;
  font-family: Gotham;
  font-size: 24px;
  font-weight: 400;
  border: 3px #000 solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.page-two-side-buttons-container .learn-more-wrapper .plus-round-button:hover{
  color: #fff;
  background-color: #000;
}

.page-two-side-buttons-container .learn-more-wrapper .learn-more-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-two-side-buttons-container .learn-more-wrapper {
  gap: 7px;
}